/Adivinar.class
/MetodoAdivinador.class
/UI_Ganaste$1.class
/UI_Ganaste.class
/UI_PersonajeAdivinador$1.class
/UI_PersonajeAdivinador$2.class
/UI_PersonajeAdivinador$3.class
/UI_PersonajeAdivinador.class
/UI_Ganaste$2.class
